/*CSS STYLESHEET*/
body{
padding: 0;
margin: 0;
font-family: arial;
letter-spacing: 2px;
line-height: 1.5;
}

/*all sections height */
section{
height: 100vh;
}

/* header style */
header{
box-sizing: border-box;
float: left;	
width: 100%;
background: black;
color: white;
padding: 10px;
position: fixed;
top: 0;
z-index: 3;
}

/* main heading */
h1 {
float: left;
margin: 0;
padding: 5px;
}

/* a tags inside header */
header a{
text-decoration: none;
color: white;
}	

/* div element inside header */
header div{
margin: 5px;
float: left;
padding: 10px;
transition-duration: 0.75s;
}

/* hover effect on div inside header */
header div:hover{
background: white;
color: black;
border-radius: 5px;
}

/* sub headings */
h2{
text-align: center;
margin: 0;
padding: 20px;
}

/* section css */
#section-1{
display: flex;
justify-content: center;;
align-items: center;
align-content: center;
flex-direction: column;
}

#aboutMe{
max-width: 800px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
}

#aboutMe img{
float: left;
margin-right: 20px;
}

#section-2{
background: url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') no-repeat;
background-size: 100% 100%;

}	

#education{
background: white;
max-width: 1000px;
padding: 50px 0px 50px 0px;
position: relative;
top: 200px;
left: 320px;
border-radius: 20px;
}

/* table styles */
table, tr, th, td{
border-collapse: collapse;
padding: 1.5em;
margin: 0 auto;
border: none;
}

#section-2 table th{
background: black;
color: white;
border-left: 3px solid white;
}

#section-2 table tr:hover{
background: grey;
color: white;
}


#section-3{
background: black;
}

#skills{
position: relative;
top: 70px;
color: white;
}

#skills div{
padding: 2px;
background: orange;
max-width: 600px;
border-radius: 50px;
color: black;
}

#skills p{
padding: 0;
margin: 0;
background: white;
padding: 5px;
width: 80%;
border-radius: 50px;
}

dl, dt, dd{
padding: 1em;
}

#recomendations{
position: relative;
top: 150px;
}

#section-5{
background: url('https://images.unsplash.com/photo-1499159058454-75067059248a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29udGFjdHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat;
background-position: right;
background-size: 100% 100%; 
}

#contact{
position: relative;
top: 150px;
}

input{
padding: 10px;
border: none;	
}

button{
border: none;
padding: 10px;
border-radius: 5px;
}

button:hover{
background: black;
color: white;
transition-duration: 0.5s;
padding: 11px;
box-shadow: 0px 0px 10px white;
}

footer{
padding: 10px;
}

@media(max-width: 1000px) {
	header{
		height: 70px;
		overflow: hidden;
		transition-duration: 0.75s;
	}

	header:hover {
		height: 350px;
	}

	header div {
		clear: both;
	}
}
